
.subHeader{
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
} 

.subHeader div{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.subHeader img{
    margin-right: 10rem;
    height: 12rem;
    width: auto;
}